In [1]:
import pandas as pd

In [22]:
draft = pd.read_csv('nbaplayersdraft.csv')

#totalMins = draft['minutes_played'].groupby(['college']).sum()
#draft['minutes_played']
df1 =draft.groupby(['college']).sum()
df1.sort_values(['minutes_played'], ascending=False)


#create df with schools ranked by total minutes played
#only include schools that have players that have played games
df2 = df1[df1['games'] >0].sort_values(['minutes_played'], ascending=False).reset_index()

#simplfied df with schools and their rankings
CollegeRanking_MP =df2[["college",'minutes_played']].reset_index()


CollegeRanking_MP.columns=["college_rank","college","minutes_played"]

CollegeRanking_MP

     college_rank                                   college  minutes_played
0               0                                  Kentucky        538292.0
1               1                                      Duke        535270.0
2               2                                       UNC        504352.0
3               3                                   Arizona        419753.0
4               4                                      UCLA        397511.0
..            ...                                       ...             ...
214           214  Slippery Rock University of Pennsylvania            23.0
215           215            Indian Hills Community College            21.0
216           216                                       UAB            20.0
217           217                                    Toledo            14.0
218           218                University of North Dakota             5.0

[219 rows x 3 columns]

In [73]:
#DF with top 5 schools and their players
#Colleges_top5 = CollegeRanking_MP.head()
Colleges_top5 = draft[draft['college'].isin(['Duke','UNC', 'Kentucky', 'Arizona','UCLA'])]

Colleges_top5

#Average total minutes played (career wise not per game)
Colleges_top5.groupby(['college'])['minutes_played'].mean()

Colleges_top5.groupby(['college'])['points_per_game'].mean()

college
Arizona      7.656098
Duke         9.439623
Kentucky    10.114035
UCLA         7.541463
UNC          8.387500
Name: points_per_game, dtype: float64

In [49]:
#think about aggregating the schools, then merging it with the ranked schools table by name so it has college_rankings
draft[draft['college']=='Kentucky'].sort_values(by=['minutes_played'] ,ascending=False).head()

,id,year,rank,overall_pick,team,player,college,years_active,games,minutes_played,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
750,751,2002,23,23,DET,Tayshaun Prince,Kentucky,14.0,1017.0,31576.0,...,0.367,0.756,31.0,11.1,4.3,2.4,63.1,0.096,0.3,18.0
387,388,1996,6,6,BOS,Antoine Walker,Kentucky,12.0,893.0,31531.0,...,0.325,0.633,35.3,17.5,7.7,3.5,38.1,0.058,0.3,18.0
982,983,2006,21,21,PHO,Rajon Rondo,Kentucky,16.0,957.0,28570.0,...,0.324,0.611,29.9,9.8,4.5,7.9,61.8,0.104,1.2,23.2
219,220,1993,4,4,DAL,Jamal Mashburn,Kentucky,11.0,611.0,22762.0,...,0.345,0.766,37.3,19.1,5.4,4.0,43.7,0.092,0.3,13.4
1202,1203,2010,1,1,WAS,John Wall,Kentucky,10.0,613.0,21833.0,...,0.323,0.779,35.6,19.1,4.3,9.1,44.1,0.097,2.4,24.0

In [50]:
for i in Colleges_top5['college_rank']:
    print(Colleges_top5.loc[i])

college_rank             0
college           Kentucky
minutes_played    538292.0
Name: 0, dtype: object
college_rank             1
college               Duke
minutes_played    535270.0
Name: 1, dtype: object
college_rank             2
college                UNC
minutes_played    504352.0
Name: 2, dtype: object
college_rank             3
college            Arizona
minutes_played    419753.0
Name: 3, dtype: object
college_rank             4
college               UCLA
minutes_played    397511.0
Name: 4, dtype: object

In [76]:
CollegeRanking_MP.loc[0]['college']
draft['college']

,id,year,rank,overall_pick,team,player,college,years_active,games,minutes_played,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
0,1,1989,1,1,SAC,Pervis Ellison,Louisville,11.0,474.0,11593.0,...,0.050,0.689,24.5,9.5,6.7,1.5,21.8,0.090,-0.5,4.4
1,2,1989,2,2,LAC,Danny Ferry,Duke,13.0,917.0,18133.0,...,0.393,0.840,19.8,7.0,2.8,1.3,34.8,0.092,-0.9,4.9
2,3,1989,3,3,SAS,Sean Elliott,Arizona,12.0,742.0,24502.0,...,0.375,0.799,33.0,14.2,4.3,2.6,55.7,0.109,0.2,13.5
3,4,1989,4,4,MIA,Glen Rice,Michigan,15.0,1000.0,34985.0,...,0.400,0.846,35.0,18.3,4.4,2.1,88.7,0.122,0.8,24.9
4,5,1989,5,5,CHH,J.R. Reid,UNC,11.0,672.0,15370.0,...,0.135,0.716,22.9,8.5,5.0,1.0,22.5,0.070,-2.9,-3.7
5,6,1989,6,6,CHI,Stacey King,Oklahoma,8.0,438.0,7406.0,...,0.235,0.707,16.9,6.4,3.3,0.9,10.9,0.071,-3.4,-2.7
6,7,1989,7,7,IND,George McCloud,Florida State,12.0,766.0,17429.0,...,0.358,0.810,22.8,9.0,3.1,2.3,24.6,0.068,-0.8,5.3
7,8,1989,8,8,DAL,Randy White,Louisiana Tech,5.0,281.0,5382.0,...,0.193,0.707,19.2,7.4,4.9,0.6,1.9,0.017,-5.0,-4.0
8,9,1989,9,9,WSB,Tom Hammonds,Georgia Tech,12.0,687.0,10419.0,...,0.000,0.691,15.2,5.3,3.3,0.6,14.7,0.068,-3.8,-4.7
9,10,1989,10,10,MIN,Pooh Richardson,UCLA,10.0,639.0,19399.0,...,0.329,0.652,30.4,11.1,2.8,6.5,26.7,0.066,0.2,10.5

In [59]:
NBAtmp = draft
i = 0
collegeRanking =[]

while i < len(NBAtmp):
    if NBAtmp['college'][i] == CollegeRanking_MP.loc[i]['college']:
        NBAtmp.loc[0]

id                                        1
year                                   1989
rank                                      1
overall_pick                              1
team                                    SAC
player                       Pervis Ellison
college                          Louisville
years_active                           11.0
games                                 474.0
minutes_played                      11593.0
points                               4494.0
total_rebounds                       3170.0
assists                               691.0
field_goal_percentage                  0.51
3_point_percentage                     0.05
free_throw_percentage                 0.689
average_minutes_played                 24.5
points_per_game                         9.5
average_total_rebounds                  6.7
average_assists                         1.5
win_shares                             21.8
win_shares_per_48_minutes              0.09
box_plus_minus                         -0.5
value_over_replacement                  4.4
Name: 0, dtype: object